body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  line-height: 1.6;
  width: 100vw;
}

html, body {
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.App {
  margin: 0 auto;
  text-align: center;
}

select {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

select option {
  background-color: white;
  color: black; 
}

select:focus {
  border-color: #5762D5;
  outline: none
}

button {
  background-color: #5762D5;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #32292f;
} 



.home-container {
    align-items: center;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

/* New home page styles */
.home-header {
  margin-bottom: 2.5rem;
  text-align: center;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

.home-greeting {
  font-size: 1.2rem;
  color: #666;
}

.featured-section {
  margin-bottom: 2rem;
}

.feature-card {
  background: #FFEEDD;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #FFD8BE;
  color: black;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
